@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

/* RTL Support */
.rtl {
  direction: rtl;
  text-align: right;
}

.ltr {
  direction: ltr;
  text-align: left;
}

/* RTL specific adjustments */
.rtl input {
  text-align: right;
}

.rtl .text-left {
  text-align: right;
}

.rtl .text-right {
  text-align: left;
}

/* LTR specific adjustments */
.ltr input {
  text-align: left;
}

.ltr .text-left {
  text-align: left;
}

.ltr .text-right {
  text-align: right;
}
